@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
   color:#000;
   background-color: #59162362;
   background-size: cover;
}



.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    background-color: #591623;
    border-radius: 10rem;
    padding: 1rem;
}


.logo{
    margin-left: 2rem;
    font-size: 1.4rem;
    color:#fff;  
    font-family: "Dancing Script", cursive;
}

.nav{
    display:flex;
    justify-content: flex-end;
    gap: 40px
}


.nav a {
    color : #fff;
    text-decoration: none;
    transition: 0.5s;
    font-size: 1.1rem;
}

.nav a:hover {
    color: #591623;
    background-color: #fff;
    border-radius: 1rem;
    transform: scale(1.12);
    padding: 0.5rem;
}


#inicial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem; 
  }

#inicial button {
   background-color: #591623;
   border-radius: 1rem;
   padding: 0.5rem;
   margin-top: 6rem;
   margin-right: 4rem ;
   height: 3rem;
   width: 8rem;
}

#inicial button a{
    font-size: 1.2rem;
    text-decoration: none;
    color:#fff;
    font-family: "Dancing Script", cursive;
    
}
  
#inicial button:hover{
    box-shadow: 0px 0px 9px white;
    border: 2px solid white ;
    transform: scale(1.12);
}
  .texto_inicial {
    text-align: left;
  }

  .texto_inicial h1{
    font-size: 3.5rem;
  }


  .texto_inicial h3 {
    color:gray;
    font-size: 2rem;
  }
  
  .texto_inicial p {
    margin-top: 2rem;
    font-size:1.2rem;
  }

  .foto_inicial {
    
    justify-content: center;
  }
  
  .foto_inicial img {
    border-radius: 15rem;
    box-shadow: 0px 0px 9px white;
    border: 2px solid white ;
  }

  .destaque{
    color: #591623;
  }
  

  #certificados {
    display: flex;
    flex-direction:column;
    align-items: center;
    min-height: 100vh;
    padding: 7rem;
    font-size:1.2rem;
    color: #000;

  }

  #certificados hr{
    width: 7rem;
  }

  #certificados li{
    margin-top: 3rem;
  }

  #certificados li a{
    color:#000;
    text-decoration: none;
  }
 
  #certificados li a:hover{
    background-color: #fff;
    color: #591623;
    border-radius: 2rem;
  }


  #certificados li:hover{
    transition: 1s;
    transform: scale(1.2);
    background-color: #fff;
    color: #591623;
    border-radius: 2rem;
  }

  .habilidades{
    font-size:1.2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 7rem;
  }

  .habilidades h1{
    margin-top: 9rem;
  }

  .Hard_skills{
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 2px solid white ;
   padding: 2rem 2rem;
   box-shadow: 0px 0px 9px white;
   border-radius: 2rem;
   width: 34rem;
   height:24rem;
  }

  .Hard_skills:hover{
    transform: scale(1.12);
    background-color: #591623;
    color: #fff;
  }
  

  .Hard_skills li {
    line-height: 2.9;
  }
 
  #principais_projetos {
    background-color: #591623;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    font-size:1.2rem;
    box-shadow: 0px 0px 40px rgb(7, 6, 6);
  }

  #principais_projetos h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #principais_projetos h2 {
    margin-top: 4rem;
  }


  #principais_projetos img{
    margin-top: 2rem;
    border-radius: 1rem;
  }

  #principais_projetos li{
    margin: 2rem;
  }
  

  #principais_projetos button{
    align-items: center;
    background-color:#fff;
    border: none;
    width: 20rem;
    height: 2rem;
    margin-top: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  #principais_projetos button:hover{
   color:#591623;
  transform: scale(1.12);
  }



.Sobre_mim {
    display: flex;
    justify-content: space-evenly;
    min-height:50vh;
    padding: 4rem;
    font-size: 1.2rem;
    background-color: #591623;
    color:#fff;
    box-shadow: 0px 0px 40px rgb(7, 6, 6);
  }

  .texto_sobre_mim {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    gap: 3rem;
  }

  .foto_sobre_mim{
    gap:50rem;
    align-items: center;
    
  }

 
  .foto_sobre_mim img {
    margin-top: 3rem;
    margin-left: 4rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 9px white;
    border: 2px solid white ;
    width: 24rem;
    height: 25rem;
  }


  #contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding:5rem;
    font-size:1.2rem;
    font-family: "Dancing Script", cursive;
    box-shadow: 0px 0px 40px rgb(7, 6, 6);
    background-color: #591623;
  }

   #contatos h2 {
    color:#fff;
    font-size: 3rem;
    gap: 1rem;
    margin-left:1.6rem;
   }

   
   #contatos p {
    color: #fff;
    padding: 2rem 0 2rem 0;
    font-size:1.5rem;
   }

  #contatos a {
    padding-left: 2rem;
    margin-top: 2rem;
    color: #fff;
  }
 
 #contatos a:hover {
    color: #591623;
    background-color: #fff;
    border-radius: 1rem;
    transform: scale(0.9);
    padding: 0.5rem;
  }

  /*Mobile*/
  @media (max-width:480px) {
   
  }
 
  
  /*Extra small devices*/
  @media (max-width:481px) and (max-width:767px) {

  }

   /*Small tablets*/
   @media (max-width:768px) and (max-width:991px) {

   }
  
   /*Large tablets/laptops*/
   @media (max-width:992px) and (max-width:1199px) {

   }

    /*Desktops*/
   @media (max-width:1200px) and (max-width:1919px) {

   }

    /*Extra large screens*/
   @media (max-width:1920px){
   }
